version: "3.9"
services:
  redis:
    container_name: redis_ru102j
    image: "redis/redis-stack:latest"
    ports:
      - "6379:6379"
      - "8001:8001"
    volumes:
      - ./redisdata:/data
    environment:
      - REDIS_ARGS=--appendonly yes --save ""
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure

  redis-insight:
    container_name: redisinsight_ru102j
    image: "redis/redisinsight:3.0"
    ports:
      - "5540:5540"
    depends_on:
      - redis
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
